* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}


img {
    width: 100%;
    display: block;
    object-fit: cover;
}

p {
    font-size: 14px;
    color: rgb(54, 54, 54);
    line-height: 16px;
    letter-spacing: 1px;
 }

/*************************navigation************/
.nav-container {
    width: 100%;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#navbar-logo {
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
    transition: all 0.5s ease-out;
}

.active-nav-link {
    padding: 5px 0;
    border-bottom: 2px solid black;
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #000;
    transition: all 0.3s ease-in-out;
}

/*************************banner************/
.banner img {
    height: 100vh;
    margin-bottom: 30px;
}

.banner1 img {
    width: 100%;
    height: 40vh;
    margin-bottom: 30px;
}

hr {
    width: 100%;
    border: none;
    border: 1px solid lightgray;
}


/******************main-content***************/
.main-content {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-content {
    width: 60%;
    margin-bottom: 40px;
}

.left-content h1 {
    margin-bottom: 30px;
}



.right-content {
    width: 30%;
}

.row {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.col-3 {
    margin-top: 20px;
    margin-bottom: 20px;
}


.right-content .card {
    display: flex;
}


.right-content img {
    width: 80px;
    height: 80px;
}

.card p {
    font-size: 12px;
    margin-left: 10px;
    text-align: justify;
    color: rgb(54, 54, 54);
}

.date-com {
    font-size: 10px;
    color: #555;
    margin-top: 10px;
}


/***********************Gallery*******************/

.gallery,
.gallery-row {
    margin: 30px 0;
}

.image-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-card {
    width: 320px;
    height: 240px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}

.image-card img {
    height: 200px;
}

.image-card p {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 12px;
    color: #555;
}





label {
    display: block;
    color: #00021a;
}

input {
    display: block;
    margin-bottom: 8px;
    width: 90%;
    padding: 8px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 16px;
    color: #000;
    border-radius: 3px;
}

button {
    padding: 10px 30px;
    background: #00021a;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #fff;
}

p.password-forgot {
    margin-top: 10px;
    color: #000;
    font-weight: 600;
}

.password-forgot a{
    text-decoration: none;
    color: #ff523b;
}

textarea {
    width: 90%;
    height: 100px;
    display: block;
    border: 1px solid lightgray;
    outline: none;
    padding: 8px;
    font-size: 16px;
}


/*****************navigation******************/
@media screen and (max-width: 768px){
    .nav-container {
        position: relative;
    }

    .nav-menu {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar-logo {
        margin-left: 0;
    }

    .nav-menu.active {
        border-top: 1px solid black;
        background: #fff;
        color: #000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        display: inline-block;
        margin-bottom: 30px;
        text-align: center;
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
        
    }

    #mobile-menu {
        position: absolute;
        top: 35%;
        right: 3%;
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .main-content {
        flex-direction: column;
    }

    .left-content,
    .right-content {
        width: 100%;
    }

    .image-card {
        width: 100%;
    }
}